
/* Hoover card background and transition */
.card:hover {
  transition: background-color 0.2s ease;
}

/* Swicth article colour title to orange on hovering */
.card:hover .card-content h2.title.is-3 {
  color: #ff4d00 !important; /* highlight title */
  transition: color 0.2s ease;
}

/* "Read More" link that  turn orange on hover */
.card-footer-item:hover {
  color: #ff4d00 !important;
  transition: color 0.2s ease;
}

/* Flex layout: expand card height and content */
.column.is-flex > .card.news-article {
  flex: 1;                   
  display: flex;
  flex-direction: column;
}

/* area to push footer down */
.column.is-flex > .card.news-article .card-content {
  flex: 1;                    /* make content area expand */
}

/* Prevent images from stretching */
.column.is-flex > .card.news-article .card-image {
  flex: none;                 /* keep image natural size */
}

/* Default text colors for news titles and subtitles */
.news-title,
.news-subtitle {
  color: #363636;
}

/* Dark mode: switch text colors for  more legibility */
body.dark-mode .news-title,
body.dark-mode .news-subtitle {
  color: #ffffff !important;  /* white (hue code) text in dark mode */
}

body.dark-mode .news-article .content p {
  color: #ffffff !important;  
}
