<nav class="navbar is-black" role="navigation" aria-label="main navigation">
  <div class="container">

    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/images/favicon.png" alt="App Logo" style="max-height:80px;">
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasic" class="navbar-menu">
      <div class="navbar-end">
        <!-- Home, the user’s homeCity (in city-focus) -->
        
        <!-- The six cities on the dashboard -->
        <a class="navbar-item has-text-white" href="/">Dashboard</a>

        <a class="navbar-item has-text-white" href="/my-city/">
          Home City
        </a>

        <a class="navbar-item has-text-white" href="/news/">
          News
        </a>
        <a class="navbar-item has-text-white" href="/about/">
          About
        </a>
        <a class="navbar-item has-text-white" href="/settings/">
          Settings
        </a>
      </div>
    </div>
  </div>
</nav>
